{% extends "basic.html"%}
{% block content %}
    <header>
        <p class="web_link_waku">
            <p class="web_link_waku">
                <a href="{{ url_for('home') }}"  class="btn-logo">
                    | HOME |
                </a>
                <a href="{{ url_for('mean') }}" class="btn-logo">
                    | 平均計算サイト |
                </a>
                <a href="{{ url_for('plot') }}" class="btn-logo">
                    | PLOT |
                </a>
                <a href="{{ url_for('contact') }}" class = "btn-logo">| Contact |</a>
            </p>
        </p>
    </header>
    <h1>Contact</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfPPMqmuByLrY2FmAlxRrBzeBHcmDYyA-GtJt6KxOvQmSLyDw/viewform?embedded=true" width="100%" height="591" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    

{% endblock %}