{% extends "basic.html"%}
{% block content %}
    <header>
        <p class="web_link_waku">
            <p class="web_link_waku">
                <a href="{{ url_for('home') }}"  class="btn-logo">
                    | HOME |
                </a>
                <a href="{{ url_for('mean') }}" class="btn-logo">
                    | 平均計算サイト |
                </a>
                <a href="{{ url_for('plot') }}" class="btn-logo">
                    | PLOT |
                </a>
                <a href="{{ url_for('contact') }}" class = "btn-logo">| Contact |</a>
            </p>
        </p>
    </header>
    <div>
        <h1>お役立ち計算・グラフ作製サイト</h1>
        <p class="midashi">お役立ち計算・グラフ作製サイトとは？</p>
        <p>お役立ち計算・グラフ作製サイトでは、平均値や標準偏差の計算、csvファイルの読み込みによるグラフの生成など、様々な知的活動のサポートを行うことを目的とした計算サイトです。</p>
    </div>
    <div class="sousa-houhou">
        <span class="box-title">お役立ち計算・グラフ作製サイトでできること</span>
    <div class="gyoukan_tikadukeru">
        <p>平均計算サイト…数値群を入力し、チェックボックスにチェックを入れることで、平均値、最頻値、分散、標準偏差の４つの値を求めることができます。</p>
        <p>数式プロット…csvファイルを選択し、列と行を指定することで、その範囲のグラフを作製することができます。</p>
        <p>Contact…ぜひ使用してみた感想をフォームに入力して送信してください！</p>
    </div>
    </div>

    <footer>
        <a href="#" id="page-top">
            <i class="blogicon-chevron-up"></i>
            <img class="go_top" src="static/goTop.PNG" width="100px" height="100px">
        </a>
    </footer>

    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
{% endblock %}
