{% extends "basic.html"%}
{% block content %}
    <header>
        <p class="web_link_waku">
            <a href="{{ url_for('home') }}"  class="btn-logo">
                | HOME |
            </a>
            <a href="{{ url_for('mean') }}" class="btn-logo">
                | 平均計算サイト |
            </a>
            <a href="{{ url_for('plot') }}" class="btn-logo">
                | PLOT |
                
            </a>
            <a href="{{ url_for('contact') }}" class="btn-logo">| Contact |</a>
        </p>
    </header>
    <h1>数式プロット</h1>
    <div>
        <p class="midashi">数式プロットとは？</p>
        <p>数式プロットでは、csvファイルを選択し、行と列を指定することで、グラフを表示することができます。</p>
    </div>
    <div class="sousa-houhou">
        <span class="box-title">操作方法</span>
        <div class="gyoukan_tikadukeru">
            <p>1.「ファイル」の欄で、グラフ化したいcsvファイルを選択する。</p>
            <p>2.「行」の欄で、出力したい初めの行を入力する。</p>
            <p>3.「列指定～」の欄で、出力したい初めの列を、「～列指定」の欄で、出力したい最後の列を入力する。</p>
            <p>4.「送信」と書かれたボタンをクリックすると、指定部分のグラフが表示される。</p>
            <p class="hidari-hasenn">例：「test.csv」というファイルの３行目、CからEの列をグラフ化するとき</p>
            <p>1.「ファイル」の欄で、「test.csv」を選択する。</p>
            <p>2.「行」の欄に「３」と入力する。</p>
            <p>3.「列指定～」の欄に「３」を、「～列指定」の欄に「５」を入力する。</p>
            <p>4.「送信」と書かれたボタンをクリックすると、「test.csv」の指定部分のグラフが表示される。</p>
        </div>
    </div>

    <!-- 入力フォーム -->
        <form action="/plot" method="POST" enctype="multipart/form-data">
            <table border="1">
                <tr>
                    <th>ファイル</th>
                    <th>行</th>
                    <th>列指定～</th>
                    <th>～列指定</th>
                </tr>
                <tr>
                    <td><input type="file" name="file_data"></td>
                    <td><input type="text" name="calum"></td>
                    <td><input type="text" name="retu_s"></td>
                    <td><input type="text" name="retu_e"></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="送信">
            <br>
            <img src = "data:image/png;base64,{{data}}" alt = "nodata">
            <br>
            {% if erro %}
                <font color="red">{{ erro }}</font>
            {% endif %}
        </form>
        <footer>
            <a href="#" id="page-top">
                <i class="blogicon-chevron-up"></i>
                <img class="go_top" src="static/goTop.PNG" width="100px" height="100px">
            </a>
        </footer>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='plot_style.css') }}">
{% endblock %}